@media (max-width:1240px) {
  .foodies {
    &__title {
      margin-right: 40px;
      font-size: 40px;
    }

    &__btn {
      padding: 15px;
    }

    &-filters__box {
      gap: 20px;
    }
  }

  .gallery__items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer {
    &__inner {
      gap: 20px;
    }

  }

  .reviews__desc {
    max-width: 600px;
  }
}

@media (max-width:1115px) {
  .foodies {
    &__title {
      margin-right: 20px;
      font-size: 35px;
    }
  }

}

@media (max-width:1075px) {
  .header__contacts {
    gap: 20px;
  }

  .search-form__input {
    width: 330px;
  }

  .foodies {
    &__title {
      font-size: 30px;
    }

    &__info {
      flex-direction: column;
      gap: 15px;
    }
  }

  .sale {
    &__inner {
      flex-direction: column;
    }

    &__desc {
      font-size: 40px;
    }

    &__text {
      padding-top: 70px;
    }
  }

  .purchase__inner:after {
    display: none;
  }

  .blog__items {
    flex-wrap: wrap;
  }

  .footer__inner {
    display: block;
  }
}



@media (max-width:975px) {
  .search-form__input {
    width: 260px;
  }

  .menu {
    &__btn {
      display: block;
      padding: 0;
      cursor: pointer;
      position: absolute;
      top: 43px;
      right: 10px;
      font-size: 12px;

      &.menu-active span {
        transform: scale(0);
      }

      &.menu-active:before {
        transform: rotate(45deg);
        top: 10px;
      }

      &.menu-active:after {
        transform: rotate(-45deg);
        bottom: -10px;
      }
    }


    &__list {
      position: absolute;
      left: 0;
      right: 0;
      top: 90px;
      background-color: $accent-color;
      display: block;
      text-align: left;
      transform: translateY(-200%);
      transition: all .3s;
      z-index: 10;

    }

    &__link {
      display: block;
      padding: 12px 0;

      &:hover {
        color: $text-color;
      }
    }
  }


  .menu-active+.menu__list {
    transform: translateY(-8%);
    top: 90px;
    width: 100%;
    padding-left: 10px;
  }


  .header__bottom {
    justify-content: space-evenly;
  }

  .slider-box__title span {
    font-size: 48px;
  }

  .products-box {
    gap: 35px;
    justify-content: center;
  }

  .gallery__content {
    margin-left: 5px;
  }

  .reviews {
    &__box {
      padding-left: 90px;
    }

    &__desc {
      font-size: 32px;
      max-width: 450px;
    }

    &__box::before {
      left: -100px;
    }
  }

  .reviews__inner .slick-dots {
    margin-left: 335px;
  }
}




@media (max-width:850px) {
  .header {
    &__top {
      padding: 15px 0;
      justify-content: space-around;
    }

    &__contacts {
      display: none;
    }
  }

  .search-form {
    &__input {
      display: none;

    }

    &__input.active-search {
      display: block;
    }

    &__btn {
      border: none;
    }

    &__input.active-search+.search-form__btn {
      border: 1px solid #EAEAEA;
    }
  }



  .slider-box {
    &__img {
      width: 350px;
    }

    &__text {
      font-size: 20px;
      padding-top: 100px;
    }
  }

  .blog {
    &__items {
      display: block;

    }

    &__item {
      margin-bottom: 30px;
    }
  }

  .top-slider {
    padding-top: 50px;
  }

  .popup {

    &__content,
    &-cart__wrapper,
    &-wishlist__wrapper {
      width: 600px;
    }

    &__close,
    &-cart__close {
      right: 38px;
    }

    &-wishlist__close,
    &__close {
      right: -20px;
      top: -38px;
    }
  }
}


@media (max-width:750px) {
  .popular-products__info {
    flex-direction: column;
  }

  .blog-info {
    flex-direction: column;
  }

  .reviews {
    &__box {
      padding-left: 10px;
    }

    &__desc {
      font-size: 28px;
      max-width: 400px;
    }

    &__box::before {
      left: -230px;
    }
  }
}


@media (max-width:650px) {
  .top-slider {
    padding-bottom: 40px;
  }

  .slick-dots {
    top: 25px;
  }

  .slider-box {
    &__title span {
      font-size: 38px;
    }

    &__text {
      font-size: 19px;
    }

    &__btn {
      padding: 10px 10px;
    }

    &__img {
      width: 250px;
    }
  }

  .products {
    padding-top: 50px;

    &-box {
      flex-direction: column;
    }

    &-box__link {
      font-size: 20px;
    }
  }


  .products__clothing {
    padding-top: 50px;

    &-info {
      flex-direction: column;
    }

    &-title {
      font-size: 35px;
    }

    &-button {
      padding: 15px;
    }

  }

  .products-content {
    &__image {
      width: 280px;
    }

    &__items {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      justify-items: center;
    }
  }

  .foodies__content-items,
  .popular-products__items {
    justify-items: center;
  }

  .foodies,
  .blog {
    padding: 40px 0;
  }

  .sale {
    &__text {
      padding-left: 30px;
    }
  }

  .popular-products {
    padding: 40px 0;
    padding-bottom: 60px;

    &__title {
      font-size: 32px;
    }
  }

  .gallery {
    padding: 30px 0;

    &__items {
      gap: 30px;
      padding-bottom: 50px;
    }

  }

  .footer {
    padding-bottom: 40px;
  }

  .reviews {
    &__box::before {
      display: none;

    }

    &__content {
      margin-left: 40px;
    }

    &__desc {
      max-width: 400px;
    }
  }

  .title {
    font-size: 27px;

  }

  .popup {

    &__content,
    &-cart__wrapper,
    &-wishlist__wrapper {
      max-width: 450px;
    }

    &__close,
    &-cart__close {
      right: -15px;
      font-size: 30px;
    }

    &-cart__title {
      font-size: 19px;
    }

    &-cart__total {
      font-size: 14px;
    }

    &-cart__btn {
      padding: 15px;
      font-size: 13px;
    }
  }

  .cart-item__content-title {
    font-size: 13px;
  }

  .wishlist-item {
    flex-direction: column;
    margin: 10px 0 25px;
    gap: 5px;
  }
}

@media (max-width:550px) {
  .purchase__title {
    font-size: 30px;
  }

  .foodies {
    &-filters__btn {
      font-size: 15px;
    }

    &-filters__box {
      flex-direction: column;
    }
  }

  .sale {
    &__title {
      font-size: 51px;
    }

    &__desc {
      font-size: 30px;
      line-height: 31px;
    }
  }

  .reviews {
    &__desc {
      font-size: 23px;
      line-height: 30px;
    }

    &__inner .slick-dots {
      margin-left: 52px;
    }
  }

  .blog {
    &__item-title {
      font-size: 20px;
    }

    &__item-desc {
      font-size: 15px;
    }
  }

  .slider {
    &-box__title {
      line-height: 20px;
    }

    &-box__info {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .header__logo.active-logo {
    display: none;
  }

}

@media (max-width:490px) {
  .popup {
    &__btn-controls {
      font-size: 18px;
    }

    &__content,
    &-cart__wrapper,
    &-wishlist__wrapper {
      max-width: 350px;
    }

    &-cart__content,
    &__content &-wishlist__content {
      width: 280px;
    }

    &__title,
    &-wishlist__title {
      font-size: 19px;
    }

    &-wishlist__close {
      font-size: 32px;

    }

    &-cart__btn {
      padding: 10px;
    }

    &-cart__total {
      font-size: 13px;
    }

    &-cart__input::placeholder {
      font-size: 13px;
    }
  }

  .cart-item {
    flex-direction: column;
    margin: 10px 0 15px;
    gap: 5px;

    &__counter {
      margin-left: 0;
    }
  }

  .wishlist-item__delete {
    margin-left: 0;
  }
}


@media (max-width:450px) {
  .header {
    &__top {
      justify-content: space-between;
    }

    &__contacts {
      font-size: 16px;
    }
  }


  .slider-box {
    &__info {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__text {
      padding: 40px 0 20px;
      margin: 0 auto;
    }
  }

  .sale {
    &__desc {
      font-size: 20px;
      line-height: 29px;
    }

    &__title {
      font-size: 35px;
    }
  }

  .purchase {
    padding: 40px 0;
  }

  .form__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .blog__info-button {
    padding: 15px;
  }


  .reviews {
    &__desc {
      font-size: 18px;
      line-height: 25px;
      max-width: 300px;
    }

    &__inner .slick-dots {
      margin-left: 90px;
    }

  }

  .menu__btn {
    top: 18px;
    right: 22px;
  }

  .search-form {
    margin-top: 15px;
  }
}

@media (max-width:390px) {

  .search-form__input {
    width: 190px;
    padding: 10px;
  }

  .sale {
    &__title {
      font-size: 29px;
      margin-bottom: 10px;
    }

    &__text {
      padding-top: 24px;
    }

    &__desc {
      font-size: 17px;
    }
  }

  .footer {
    &__input {
      height: 42px;
    }

    &__btn {
      right: 46px;
    }

    &__social {
      flex-direction: column;
      gap: 20px;
    }
  }


  .title {
    font-size: 21px;
  }

  .reviews {
    &__desc {
      max-width: 270px;
    }
  }

  .popup {

    &__content,
    &-cart__wrapper,
    &-wishlist__wrapper {
      max-width: 280px;
    }

    &__btn-controls {
      flex-direction: column;
      font-size: 18px;
      gap: 5px;

    }

    &__btn {
      padding: 10px 20px;
    }

    &__close {
      font-size: 29px;
    }

    &__input {
      max-width: 240px;
    }

    &__title {
      font-size: 21px;
    }

  }

  .foodies__content-items,
  .popular-products__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

}